=form_for @question do |f|
  .error
    =render 'partials/errors', resource: @question
  %br
  =f.fields_for :tags do |t|
    =t.label :type
    =t.text_field :type

  %br
  =f.label :title
  =f.text_field :title
  %br
  =f.label :body
  =f.text_area :body
  %br
  =f.submit 'Post'