.center-block.question-form
  =form_for @question do |f|
    .error
      =render 'partials/errors', resource: @question

    =f.fields_for :tags do |t|
      .form-group
        =t.label :category
        =t.select :category, QuestionsHelper::CATEGORIES, {}, id: "category_select", class: "form-control"
      .form-group
        =t.text_field :name, autocomplete: "off", placeholder: "Enter a course name... eg. MATH 101", id: "tag_input", class: "form-control"
      
      =t.hidden_field :university, value: current_user.university
    .form-group
      =f.text_field :title, autocomplete: "off", placeholder: "Enter a title...", class: "form-control"

    .form-group
      =f.text_area :body, placeholder: "Type your questions here...", class: "text-small"

    =f.submit 'Post', class: 'btn btn-primary'

  .question_preview
  