=fields_for :question do |g_fields|
  =label_tag 'Title'
  %br
  =g_fields.text_field :title, class: 'form-control', placeholder: "Enter a title for the question"
  %br
  =label_tag 'Body'
  %br
  #wmd-button-bar-body
  =g_fields.text_area :body, id: 'wmd-input-body', class: 'wmd-input form-control', placeholder: "Enter the question body..", rows: 10
  #wmd-preview-body.wmd-preview
