=form_for @question do |f|
  .error
    =render 'partials/errors', resource: @question
  =f.label :title
  =f.text_field :title
  %br
  =f.label :body
  =f.text_area :body
  %br
  =f.label :course_name
  =f.text_field :course_name
  %br
  =f.label :course_number
  =f.text_field :course_number
  %br
  =f.submit 'Post'