=form_for @question do |f|
  .error
    =render 'partials/errors', resource: @question
  %br
  / =f.fields_for :taggings do |taggings_form|
  /   =taggings_form.fields_for :tag do |tag_form|
  /     =tag_form.label :category
  /     =tag_form.text_field :category

  =f.fields_for :tags do |t|
    =t.label :category
    =t.select :category, options_for_select(QuestionsHelper::CATEGORIES)
    %br
    =t.label :name
    =t.text_field :name

  %br
  =f.label :title
  =f.text_field :title
  %br
  =f.label :body
  =f.text_area :body
  %br
  =f.submit 'Post'