.center-block.question-form
  =form_for @question do |f|
    .error
      =render 'partials/errors', resource: @question

    .form-group
      =f.label :category
      =f.select :tag_category, QuestionsHelper::CATEGORIES, {}, id: "category_select", class: "form-control"
    .form-group
      =f.text_field :tag_name, autocomplete: "off", placeholder: "Enter a course name... eg. MATH 101", id: "tag_input", class: "form-control"
      
    .form-group
      =f.text_field :title, autocomplete: "off", placeholder: "Enter a title...", class: "form-control"

    .form-group{rows: 20}
      =f.text_area :body, placeholder: "Type your questions here..."

    =f.submit 'Post', class: 'btn btn-primary'

  .question_preview
  