.card.frow.link.whole-card{id: "Question#{question.id}"}
  .profile-pic.small
    =link_to(image_tag("avatar-50.png"), user_path(question.user))
  .fcol
    .frow
      %h4.title
        =link_to("#{question.title}", question_path(question))
      .time
        =local_relative_time(question.created_at, type: 'time-or-date')

    .frow.bottom
      .tags
        -tag = question.tags.first
        =link_to("#{tag.university}", show_with_university_tag_path(tag.university), class: "btn btn-xs btn-info")
        =link_to("#{tag.name}", show_with_tag_path(tag.id, tag.name.gsub(" ", "-")), class: "btn btn-xs btn-info")
        -if question.num_answers == 0
          =link_to("Unanswered", unanswered_with_tag_path(tag.id, tag.name.gsub(" ", "-")), class: "btn btn-xs btn-success")
      .votes
        =render 'likes/like', likeable: question, path: question_likes_path(question, Like.new)

