.question-card
  .votes

    %btn.btn-sm.btn-danger.disabled
      ="+ " + question.likes.count.to_s
  .main
    .title-body
      %span.title
        =link_to question.title, question_path(question)
      =question.body
    .tags
      =link_to("#{question.tags.first.university}", show_with_university_tag_path(question.tags.first.university), class: "btn-sm btn-info")
      =link_to("#{question.tags.first.name}", show_with_tag_path(question.tags.first.id), class: "btn-sm btn-info")
      -if question.answers.empty?
        =link_to("unanswered", unanswered_questions_path, class: "btn-sm btn-success")