//=question.created_at
//=question.user.username
//=image_tag "avatar", class: "profile-pic"
.question-card
  .votes

    %btn.btn-sm.btn-danger.disabled
      ="+ " + "#{question.num_likes}"
  .main
    .title-body
      %span.title
        =link_to question.title, question_path(question)
      =question.body
    .tags
      -tag = question.tags.first
      =link_to("#{tag.university}", show_with_university_tag_path(tag.university), class: "btn-sm btn-info")
      =link_to("#{tag.name}", show_with_tag_path(tag.id), class: "btn-sm btn-info")
      -if question.num_answers == 0
        =link_to("unanswered", unanswered_with_tag_path(tag.id), class: "btn-sm btn-success")