.card.frow.header
  %h4.title
    =@question.title
  .time.grey
    =local_relative_time(@question.created_at, type: 'time-or-date')

.card.frow.main
  .profile-pic.size-40px
    = render 'partials/profile_picture', user: @question.user, size: :small
  .fcol
    .frow.body
      .markdown-output><
        :preserve
          #{@question.body}
    .frow.bottom-space
      .tags
        =link_to("#{@question.university_name}", show_questions_in_university_path(@question.university_domain), class: "btn btn-xs btn-info", role: "button")
        =link_to("#{@question.course_name}", show_questions_in_course_path(@question.course_url), class: "btn btn-xs btn-info", role: "button")
        
    .frow
      .likeable-owner
        %span.grey asked by:
        =link_to(" " + @question.user.username, user_path(@question.user))
        %i.fa.fa-trophy.fa-lg.left-space
        ="+" + @question.user_score.to_s
      .votes
        =render 'likes/like', likeable: @question, path: likes_question_path(@question)
    -if owner @question
      .frow
        .edit-post
          =link_to("Edit", edit_question_path(@question))
          =link_to("Delete", question_path(@question), method: :delete)