.question-form
  %h4 Edit Question
  =form_tag(question_path(@question.id), method: :patch, class: 'form-group') do
    =render 'form'
    %br
    =submit_tag 'Update Question', class: 'btn btn-primary'