%h4 Universities
-@universities.each do |u|
  =link_to("#{u}", show_with_university_tag_path(u), class: "btn btn-xs btn-info", role: "button")
%h4 Questions
-@questions.each do |q|
  =render 'questions/link', question: q