.question-form
  %h4 New Question
  -if @question.errors.any?
    %ul.alert.alert-danger
      .container
        -@question.errors.full_messages.each do |msg|
          %li
            =msg
  =form_tag(questions_path, method: :post, class: 'form-group') do
    =label_tag 'University'
    %br
    =select_tag :university_domain, options_from_collection_for_select(University.all, "domain", "name", @university.domain), class: 'form-control', id: 'university_select'
    %br
    =label_tag 'Course'
    %br
    =text_field_tag :course_name, nil, class: 'typeahead form-control', autocomplete: 'off', placeholder: "Enter a course name and number without spaces or special characters (e.g. HIST121) ...", data: { autocomplete_course: @courses }, id: 'question_courses'
    %br
    =render 'form'
    %br
    =submit_tag 'Publish Question', class: 'btn btn-primary'