%h1
  =@university
%h2 Tags
-@tags.each do |t|
  =link_to("#{t.name}", show_with_tag_path(t.id), class: "btn-sm btn-info")
%h2 Questions
-@questions_from_university.each do |q|
  =render 'questions/link', question: q
