=render 'partials/menu'
%h1=@question.title
=@question.body
%br
-if owner @question
  =link_to("Edit", edit_question_path(@question))
  =link_to("Delete", question_path(@question), method: :delete)
  %br

-@question.comments.each do |c|
  -unless c.id.nil?
    %span.c=c.body
    =link_to("Edit", edit_comment_path(c))
    =link_to("Delete", comment_path(c), method: :delete)
    %br
.c=render 'comments/form', resources: [@question, @question_comment], comment: @question_comment


%h2 Answers

-@question.answers.each do |a|
  -unless a.id.nil?
    =a.body
    -if owner a
      =link_to("Edit", edit_answer_path(a))
      =link_to("Delete", answer_path(a), method: :delete)
    %br

    -a.comments.each do |c|
      -unless c.id.nil?
        %span.c=c.body
        =link_to("Edit", edit_comment_path(c))
        =link_to("Delete", comment_path(c), method: :delete)
        %br

    .c=render 'comments/form', resources: [a, @answer_comment], comment: @question_comment
    %br

=render 'answers/form', resources: [@question, @answer]



