=render 'partials/menu'

.question

  %h2=Question
  title:
  =@question.title
  %br
  body:
  =@question.body
  %br
  -if owner @question
    =link_to("Edit", edit_question_path(@question))
    =link_to("Delete", question_path(@question), method: :delete)

%div{id: "Question#{@question.id}", class: "c"}
  =render 'comments/show_comments', commentable: @question, comment: Comment.new

%h2 Answers

-@question.answers.each do |a|
  -unless a.id.nil?
    .answer
      =a.body
      -if owner a
        =link_to("Edit", edit_answer_path(a))
        =link_to("Delete", answer_path(a), method: :delete)

    %div{id: "Answer#{a.id}", class: "c"}
      =render 'comments/show_comments', commentable: a, comment: Comment.new

=render 'answers/form', resources: [@question, @answer]



