=render 'partials/menu'

%div{id: "Question#{@question.id}"}

  %h2=Question

  title:
  =@question.title
  %br
  body:
  =@question.body

  .Vote
    =render 'likes/like', parent: @question

  -if owner @question
    =link_to("Edit", edit_question_path(@question))
    =link_to("Delete", question_path(@question), method: :delete)


  .Comments
    .ExistingComments
      =render @question.comments.order('id ASC')
    .NewComment
      =render 'comments/form', resources: [@question, Comment.new], comment: Comment.new


%h2 Answers

-@question.answers.each do |a|
  -unless a.id.nil?
    %div{id: "Answer#{a.id}"}
      =a.body
      
      .Vote
        =render 'likes/like', parent: a
      -if owner a
        =link_to("Edit", edit_answer_path(a))
        =link_to("Delete", answer_path(a), method: :delete)
      .Comments
        .ExistingComments
          =render a.comments.order('id ASC')
        .NewComment
          =render 'comments/form', resources: [a, Comment.new], comment: Comment.new
=render 'answers/form', resources: [@question, @answer]



