%div{id: "Question#{@question.id}"}

  %h2 Question

  title:
  =@question.title
  %br
  body:
  =@question.body
  %br
  =link_to("#{@question.tags.first.university}", show_with_university_tag_path(@question.tags.first.university), class: "btn-sm btn-info")
  =link_to("#{@question.tags.first.name}", show_with_tag_path(@question.tags.first.id), class: "btn-sm btn-info")

  .Vote
    =render 'likes/like', likeable: @question, path: question_likes_path(@question, Like.new)

  -if owner @question
    =link_to("Edit", edit_question_path(@question))
    =link_to("Delete", question_path(@question), method: :delete)


  .Comments
    .ExistingComments
      =render @question.comments.includes(:user).order('id ASC')
    .NewComment
      =render 'comments/form', resources: [@question, Comment.new]


%h2 Answers

-@question.answers.includes(:user).order('num_likes DESC').each do |a|
  -unless a.id.nil?
    %div{id: "Answer#{a.id}"}
      =a.body
      
      .Vote
        =render 'likes/like', likeable: a, path: answer_likes_path(a, Like.new)
      -if owner a
        =link_to("Edit", edit_answer_path(a))
        =link_to("Delete", answer_path(a), method: :delete)
      .Comments
        .ExistingComments
          =render a.comments.includes(:user).order('id ASC')
        .NewComment
          =render 'comments/form', resources: [a, Comment.new]
=render 'answers/form', resources: [@question, @answer]



