=render 'partials/menu'
%h2=@question.title
=@question.body
%br
-if owner @question
  =link_to("Edit", edit_question_path(@question))
  =link_to("Delete", question_path(@question), method: :delete)
  %br

%h3 Question comments
#comments
=render 'comment_form', resource: @question


%h3 Answers

-@question.answers.each do |a|
  -unless a.id.nil?
    =a.body
    -if owner a
      =link_to("Edit", edit_answer_path(a))
      =link_to("Delete", answer_path(a), method: :delete)
    %br
    =render 'comment_form', resource: a
    %br


=form_for [@question, @answer = @question.answers.build] do |f|
  - if @answer.errors.any?
    %h2="#{pluralize(@answer.errors.count, "error")} "
    %ul
      -@answer.errors.full_messages.each do |msg|
        %li= msg

  =f.label :body 
  =f.text_area :body

  %br
  =f.submit 'Post'


