=render 'partials/menu'
%h2=@question.title
=@question.body
%br
=link_to("Edit", edit_question_path(@question))
%br
=link_to("Delete", question_path(@question), method: :delete)
%br

%h2 Answers

-@question.answers.each do |a|
  -unless a.id.nil?
    =a.body
    %br
    =link_to("Edit", edit_question_answer_path(@question, a))
    %br
    =link_to("Delete", question_answer_path(@question, a), method: :delete)
    %br

=form_for [@question, @answer] do |f|
  - if @answer.errors.any?
    %h2="#{pluralize(@answer.errors.count, "error")} "
    %ul
      -@answer.errors.full_messages.each do |msg|
        %li= msg

  =f.label :body 
  =f.text_area :body

  %br
  =f.submit 'Post'


