.question-show
  .question{id: "Question#{@question.id}"}
    = render 'questions/question_card'
    .comments
      .ExistingComments
        =render @comments

      - if user_signed_in?
        =render 'comments/form', verb: :post, path: question_comments_path(@question)

  .existing-answers
    =render partial: 'answers/answer', collection: @answers

  .frow
    - if user_signed_in?
      .profile-pic.size-40px.standalone.new
        = render 'partials/profile_picture', user: current_user, size: :small
      .new-answer
        = form_tag(question_answers_path(@question), method: :post, class: 'form-group', remote: true) do
          =render 'answers/form'
          %span.help-block.has-error.errors
          %br
          =submit_tag 'Post Answer', class: 'btn btn-primary'
          
    - else
      .profile-pic.size-40px.standalone
        =image_tag("avatar.jpg", alt: "profile pic", class: "img-circle")
      .login-to-answer
        Log in to contribute your answer!



