%h4
  =@tag.name + " (unanswered)"
  %br
  %small
    =@tag.university

- @unanswered_questions.each do |q|
  =render 'question', question: q

=will_paginate @unanswered_questions, renderer: BootstrapPagination::Rails
