=form_tag group_enrollments_path(group.id), id: 'chargeForm' do 
  <script src="https://checkout.stripe.com/checkout.js"></script>
  = hidden_field_tag 'stripeToken'
  = button_tag 'Pay and Join', class: 'btn btn-primary', id: 'join-pay'

  :javascript
    var handler = StripeCheckout.configure({
      key: '#{ENV["STRIPE_PUBLISHABLE_KEY"]}',
      token: function(token, args) { 
        document.getElementById("stripeToken").value = token.id;
        document.getElementById("chargeForm").submit();
      }
    });

    document.getElementById('join-pay').addEventListener('click', function(e) { 
      // Open Checkout with further options
      handler.open({
        name: 'Coursemate',
        amount: '#{group.admission_fee * 100}',
        currency: 'cad',

      });
      e.preventDefault();
    });
