.enrollment-button
  -if current_user.in_group?(@group.id) 
    - unless current_user == @group.creator
      =render 'group_enrollments/remove_enrollment', group: @group
  -else
    - unless @group.is_full?
      =render 'group_enrollments/add_enrollment', group: @group
    -else 
      This group is full, check later please.