=link_to("I can't make it anymore", enrollment_path(GroupEnrollment.find_by(user: current_user, group: group)), remote: true, method: :delete, class: "btn btn-danger", data: {toggle: "tooltip", placement:"bottom"}, role: "button")
