%h3
  Your RSVP: Going
=link_to("I'm not going", enrollment_path(GroupEnrollment.find_by(group: group, user: current_user)), remote: true, method: :delete, class: "btn btn-danger", data: {toggle: "tooltip", placement:"bottom"}, role: "button")
