%div{id: "Comment#{comment.id}"}
  .card.frow.comment
    .profile-pic.size-30px
      = render 'partials/profile_picture', user: comment.user, size: :small
    .comment-text
      %span.comment-body
        =comment.body
      %span.comment-signature
        = "- "
        =link_to(comment.user.username, user_path(comment.user))
        %span.comment-time.grey.left-space
          =local_relative_time(comment.created_at, type: 'time-or-date')
        -if owner comment
          %span.edit-post.left-space
            =link_to("Edit", edit_comment_path(comment), remote: true)
            =link_to("Delete", comment_path(comment), method: :delete,  remote: true)




