=form_for resources, remote: true do |f|
  .Errors
  .form-group
    =f.text_field :body, placeholder: 'Enter comment', autocomplete: "off", class: "form-control"
  =f.submit 'Post Comment', class: 'btn btn-primary'