- if user_signed_in?
  - if params[:controller] == 'questions'
    = link_to 'Sessions', show_groups_with_university_tag_path(current_user.university)
  - else
    = link_to 'Questions', show_with_university_tag_path(current_user.university)
- else
  - if params[:controller] == 'questions'
    = link_to 'Sessions', root_path
  - else
    = link_to 'Questions', questions_path

