-n = notification
%tr
  - if n.notification_type == 'comment'
  
    - if n.group_id
      %td{style: "color: #888; width: 80px;"}
        = 'comment'
      %td
        =link_to group_path(n.group_id) do
          %span{style: "font-weight: bold; color: #5C7796;"}
            =n.group_title
          %br
          %span{style: "color: #444;"}
            =n.body

    - elsif n.question_id
      %td{style: "color: #888; width: 80px;"}
        = 'comment'
      %td
        =link_to question_path(n.question_id) do
          %span{style: "font-weight: bold; color: #5C7796;"}
            =n.question_title
          %br
          %span{style: "color: #444;"}
            =n.body

  - elsif n.notification_type == 'answer'
    %td{style: "color: #888; width: 80px;"}
      = 'answer'
    %td
      =link_to question_path(n.question_id) do
        %span{style: "font-weight: bold; color: #5C7796;"}
          =n.question_title
        %br
        %span{style: "color: #444;"}
          =n.body
