%li.dropdown-header
  -if @notifications.length == 0
    %li.no-notifications
      No Notifications Yet
  -else
    - @notifications.each do |n|
      %li{class: (n.read? ? "notifications-item" : "notifications-item unread")}
        - if n.comment_id
          - if n.comment.commentable_type == 'Group'
            =link_to group_path(n.comment.commentable), data: {"unread": n.read? ? nil : n.id } do 
              .notifier-type
                = 'group'
              .notification-question-title
                =n.comment.commentable.title
              .notifier-body
                =n.comment.body[0..60]


        