%li.dropdown-header
  -if @notifications.length == 0
    %li.notifications-header
      No Notifications Yet
  -else
    %li.notifications-header
      Notifications
    - @notifications.each do |n|
      %li{class: (n.seen? ? "notifications-item" : "notifications-item unread")}
        - if n.notification_type == 'comment'
          - if n.group_id
            =link_to group_path(n.group_id), data: {"unread": n.seen? ? nil : n.id } do
              .notifier-type
                = 'comment'
              .notification-title
                =n.group_title
              .notifier-body
                =n.body
          - elsif n.question_id
            =link_to question_path(n.question_id), data: {"unread": n.seen? ? nil : n.id } do
              .notifier-type
                = 'comment'
              .notification-title
                =n.question_title
              .notifier-body
                =n.body
        - elsif n.notification_type == 'answer'
          =link_to question_path(n.question_id), data: {"unread": n.seen? ? nil : n.id } do
            .notifier-type
              = 'answer'
            .notification-title
              =n.question_title
            .notifier-body
              =n.body
    %li.see-all
      =link_to 'See all notifications', notifications_path



        