-n = notification
%tr
  - if n.comment_id

    - if n.comment.group_id
      %td{style: "color: #888; width: 80px;"}
        = 'comment'
      %td
        =link_to group_path(n.comment.group) do
          %span{style: "font-weight: bold; color: #5C7796;"}
            =n.comment.group.title
          %br
          %span{style: "color: #444;"}
            =n.comment.body[0..60]

    - elsif n.comment.question_id
      %td{style: "color: #888; width: 80px;"}
        = 'comment'
      %td
        =link_to question_path(n.comment.question) do
          %span{style: "font-weight: bold; color: #5C7796;"}
            =n.comment.question.title
          %br
          %span{style: "color: #444;"}
            =n.comment.body[0..60]

  - elsif n.answer_id
    %td{style: "color: #888; width: 80px;"}
      = 'answer'
    %td
      =link_to question_path(n.answer.question) do
        %span{style: "font-weight: bold; color: #5C7796;"}
          =n.answer.question.title
        %br
        %span{style: "color: #444;"}
          =n.answer.body[0..60]
