%h4 All notifications

.notifications-table
  %table
    %tbody
      =render partial: 'notifications/notification', collection: @notifications
=will_paginate @notifications, renderer: BootstrapPagination::Rails
