.vote-button
  -if user_signed_in? and likeable.user != current_user
    -if likeable.likes_by(current_user).any?
      =render 'likes/remove_like', like: likeable.likes_by(current_user).first, num_likes: likeable.num_likes
    -else
      =render 'likes/add_like', path: path, num_likes: likeable.num_likes
  -else
    %button.btn.btn-default.btn-xs{disabled: "disabled"}
      ="+ " + "#{likeable.num_likes}"

