%span.NumVotes
  =likeable.num_likes
-if user_signed_in?
  %span.VoteButton
    -if likeable.likes_by(current_user).any?
      =render 'likes/remove_like', like: likeable.likes_by(current_user).first
    -else
      =render 'likes/add_like', path: path

