=link_to(path, remote: true, method: :delete, class: "btn btn-xs btn-danger", data: {toggle: "tooltip", placement:"bottom"}, title: "Cancel Vote", role: "button") do 
  +
  %span.num-likes
    =num_likes