=form_tag(groups_path, method: :post, class: 'form-group') do
  =label_tag 'University'
  %br
  =select_tag :university_domain, options_from_collection_for_select(University.all, "domain", "name"), class: 'form-control'
  %br
  =label_tag 'Course'
  %br
  =text_field_tag :course_name, nil, class: 'form-control'
  %br
  =fields_for :group do |g_fields|
    =label_tag 'Title'
    %br
    =g_fields.text_field :title, class: 'form-control'
    %br
    =label_tag 'Description'
    %br
    =g_fields.text_area :description, class: 'form-control'
    %br
    =label_tag 'Day'
    %br
    =g_fields.text_field :day, id: 'datepicker', class: 'form-control'
    %br
    =label_tag 'Start Time'
    %br
    =g_fields.text_field :start_time, id: 'starttimepicker', class: 'form-control'
    %br
    =label_tag 'Seats'
    %br
    =g_fields.text_field :seats, class: 'form-control'
    %br
    =label_tag 'Location'
    %br
    =g_fields.text_field :location, class: 'form-control'
    %br
  =submit_tag 'Publish Group', class: 'btn btn-primary'
