.card.frow.header
  %h4.title
    =@group.title
  .time.grey
    =local_relative_time(@group.created_at, type: 'time-or-date')

.card.frow-group.main
  .fcol
    .frow
      %i.fa.fa-clock-o.date-time
        %span.group-date
          =@group.day.strftime("%A, %B %d, %Y")
        %p.group-time
          =@group.start_time.strftime("%I:%M%p")
      - if @group.cancelled?
        .cancelled
          %span.label.label-danger.btn-xs
            Cancelled
          
    .frow.place
      %i.fa.fa-map-marker
        %span.location
          =@group.location

    .frow.description
      %i
        =@group.description
    
    .frow.bottom-space
      .tags
        - university = @group.university
        - course     = @group.course
        =link_to("#{university.name}", show_groups_in_university_path(university.domain), class: "btn btn-xs btn-info", role: "button")
        =link_to("#{course.name}", show_groups_in_course_path(course), class: "btn btn-xs btn-info", role: "button")
        
    .frow
      .likeable-owner
        %span.grey created by:
        =link_to(" " + @group.creator.username, user_path(@group.creator))
        %i.fa.fa-trophy.fa-lg.left-space
        ="+" + @group.creator.score.to_s

    -if user_signed_in? && current_user.id == @group.creator.id && !@group.cancelled?
      .frow
        .edit-post
          =link_to("Edit", edit_group_path(@group))
          =link_to("Cancel", cancel_groups_cancelation_path(@group), method: :patch, data: { confirm: 'Are you sure you want to cancel this group?' })

  - if user_signed_in?
    = render 'group_enrollments/enrollment'

  %h3
    Going: 
    .frow.attendees
      -@attendees.each do |u|
        = render 'group_enrollments/attendee', u: u
 
  - unless user_signed_in?
    .login-to-join
      Sign in to attend this group.

