.group-form
  %h4 Edit Group
  -if @group.errors.any?
    %ul.alert.alert-danger
      .container
        -@group.errors.full_messages.each do |msg|
          %li
            =msg
=form_tag(group_path(@group), method: :put, class: 'form-group') do
  =render 'groups/form'
  %br
  =submit_tag 'Update Group', class: 'btn btn-primary'
