%h3
  =@university.name
.frow
  %span.courses
    %h4 Courses
    -@courses.each do |c|
      =link_to("#{c.name}", show_groups_in_course_path(c), class: "btn btn-xs btn-info", role: "button")
  .new-group-button
    =link_to "New Group", new_group_path, class: 'btn btn-primary'
%h4 Groups

=render @groups
=will_paginate @groups, renderer: BootstrapPagination::Rails
