.user-index
  %h4 Users
  .frow.users
    -@users.each do |u|
      .card.frow
        .profile-pic.size-30px
          = render 'partials/profile_picture', user: u, size: :small
        .user
          =link_to u.username, user_path(u)
          %i.fa.fa-trophy.fa-lg
          ="+" + u.score.to_s
      