.user-show
  .profile-info.fcol
    -if @user == current_user
      =link_to(image_tag("avatar-300.jpg", alt: "profile pic", class: "profile-pic large img-circle", data: {toggle: "tooltip", placement:"bottom"}, title: "Change your picture"), account_edit_profile_path)
    -else
      =image_tag("avatar-300.jpg", class: "profile-pic large img-circle", alt: "profile pic")
    .title
      %h3.text-center
        -if @user.first_name.nil? or @user.first_name.blank?
          =@user.username
        -else
          =@user.first_name
          =@user.last_name
          %br
          %small
            =@user.username

    .score
      %i.fa.fa-trophy.fa-lg
      %span
        ="+" + @user.score.to_s

    %h4
      =@user.university

%h4 Questions

- @questions.each do |q|
  =render 'questions/question', question: q

%h4 Answers

- @questions_he_answered.each do |q|
  =render 'questions/question', question: q

