%h1
  =@user.first_name 
  =image_tag @user.avatar.url(:original)
  =@user.last_name
  -if @user.first_name.nil? and @user.last_name.nil?
    =@user.username
  -else
    %i= "&#40".html_safe + @user.username + "&#41".html_safe 
  %br
  %small
    =@user.university

.score
  %i.fa.fa-trophy.fa-lg
  %span
    ="+" + @user.score.to_s


%h3 Questions

-@questions.each do |q|
  =render 'questions/link', question: q

%h3 Answers

-@questions_he_answered.each do |q|
  =render 'questions/link', question: q

