-if current_user == @user
  =link_to("Edit Account", edit_user_registration_path)

%h2
  =@user.first_name 
  =@user.last_name
  %i= "&#40".html_safe + @user.user_name + "&#41".html_safe 

%h2=@user.email

%h3
  Score:
  =@user.score

=@user.university

%h3 Questions

-@questions.each do |q|
  =link_to q.title, question_path(q)
  %br

%h3 Answers

-@questions_he_answered.each do |q|
  =link_to q.title, question_path(q)
  %br

