.user-show
  .profile-info
    .container
      .row 
        .col-sm-4.col-md-3
          %h1
            .profile-pic.size-200px
              - if @user == current_user
                = link_to account_edit_profile_path do
                  .link{data: {toggle: "tooltip", placement:"bottom"}, title: 'Change your picture'}
                    = render 'partials/profile_picture', user: @user, size: :large
              - else
                = render 'partials/profile_picture', user: @user, size: :large
        .col-sm-6.col-md-4
          %h1
            -if @user.first_name.nil? or @user.first_name.blank?
              =@user.username
            -else
              =@user.first_name
              =@user.last_name
              %br
              %small
                =@user.username

          .score
            %i.fa.fa-trophy.fa-lg
            %span
              ="+" + @user.score.to_s

          %h2
            =@user.university.name
          %h4
            =@user.about_me
        .col-sm-2.col-md-4
          %h3 
            Courses
            -if @user == current_user
              %i.fa.fa-question{data: {toggle: "tooltip", placement:"right", title: 'We will use these courses to let you know when there are groups or questions for them.'}}
          =link_to "Edit", '#', id: "edit-courses-list", remote: true if @user == current_user
          .courses
            .container
              .row
                -@courses.each_slice(4) do |s|
                  .col
                    - s.each do |course|
                      =render 'user_courses/user_course', course_name: course.course_name

            %br
            =render 'user_course_form'
              


%div
  %ul.nav.nav-tabs{role: "tablist"}
    %li.active{role: "presentation"}
      %a{"aria-controls": "questions", "data-toggle": "tab", href: "#user-questions", role: "tab" } Questions
    %li{role: "presentation"}
      %a{"aria-controls": "answers", "data-toggle": "tab", href: "#user-answers", role: "tab"} Answers
    %li{role: "presentation"}
      %a{"aria-controls": "groups", "data-toggle": "tab", href: "#user-groups", role: "tab"} Groups

  / Tab panes
  .tab-content
    #user-questions.tab-pane.active{role: "tabpanel"}
      =render partial: 'questions/question', collection: @questions
      - if @questions.size == 5
        =link_to("All Questions", questions_user_path(@user))

    #user-answers.tab-pane{role: "tabpanel"} 
      =render partial: 'questions/question', collection: @questions_he_answered
      - if @questions_he_answered.size == 5
        =link_to("All Answers", answers_user_path(@user))
    #user-groups.tab-pane{role: "tabpanel"} 
      =render partial: 'groups/group', collection: @groups
      - if @groups.size == 5
        =link_to("All Groups", groups_user_path(@user))
