.user-show
  .profile-info.text-center
    .profile-pic-container.center-block
      - if @user == current_user
        = link_to account_edit_profile_path do
          .profile-pic.size-200px{data: {toggle: "tooltip", placement:"bottom"}, title: 'Change your picture'}
            = render 'partials/profile_picture', user: @user, size: :large
      - else
        = render 'partials/profile_picture', user: @user, size: :large
    .title
      %h1.text-center
        -if @user.first_name.nil? or @user.first_name.blank?
          =@user.username
        -else
          =@user.first_name
          =@user.last_name
          %br
          %small
            =@user.username

    .score
      %i.fa.fa-trophy.fa-lg
      %span
        ="+" + @user.score.to_s

    %h2
      =@user.university

%h2 Questions
- @questions.each do |q|
  =render 'questions/question', question: q

%h2 Answers
- @questions_he_answered.each do |q|
  =render 'questions/question', question: q

