.user-show
  .profile-info.text-center
    .profile-pic.size-200px.center-block
      - if @user == current_user
        = link_to account_edit_profile_path do
          .link{data: {toggle: "tooltip", placement:"bottom"}, title: 'Change your picture'}
            = render 'partials/profile_picture', user: @user, size: :large
      - else
        = render 'partials/profile_picture', user: @user, size: :large
    .title
      %h1.text-center
        -if @user.first_name.nil? or @user.first_name.blank?
          =@user.username
        -else
          =@user.first_name
          =@user.last_name
          %br
          %small
            =@user.username

    .score
      %i.fa.fa-trophy.fa-lg
      %span
        ="+" + @user.score.to_s

    %h2
      =@user.university
    %p
      =@user.about_me

%div
  %ul.nav.nav-tabs{role: "tablist"}
    %li.active{role: "presentation"}
      %a{"aria-controls": "questions", "data-toggle": "tab", href: "#user-questions", role: "tab" } Questions
    %li{role: "presentation"}
      %a{"aria-controls": "answers", "data-toggle": "tab", href: "#user-answers", role: "tab"} Answers
    %li{role: "presentation"}
      %a{"aria-controls": "groups", "data-toggle": "tab", href: "#user-groups", role: "tab"} Groups

  / Tab panes
  .tab-content
    #user-questions.tab-pane.active{role: "tabpanel"}
      =render @questions
    #user-answers.tab-pane{role: "tabpanel"} 
      =render @questions_he_answered
    #user-groups.tab-pane{role: "tabpanel"} 
      =render @groups
