.frow{id: "Answer#{answer.id}"}
  .fcol.standalone
    .profile-pic.size-40px.standalone
      = render 'partials/profile_picture', user: answer.user, size: :small
    .answer-time.grey
      =local_relative_time(answer.created_at, type: 'time-or-date')
  .answer
    .line
    .card.fcol
      .body
        .markdown-output><
          :preserve
            #{answer.body}
      .frow
        .likeable-owner
          %span.grey answered by:
          =link_to(" " + answer.user.username, user_path(answer.user_id))
          %i.fa.fa-trophy.fa-lg.left-space
          ="+" + answer.user_score.to_s
        .votes
          =render 'likes/like', likeable: answer, path: likes_answer_path(answer)
      -if owner answer
        .frow
          .edit-post
            =link_to("Edit", edit_answer_path(answer))
            =link_to("Delete", answer_path(answer), method: :delete, remote: true)

    .comments
      .ExistingComments
        =render answer.comments
      -if user_signed_in?
        =render 'comments/form', verb: :post, path: answer_comments_path(answer)