= simple_form_for resources, remote: true do |f|
  = f.input :body, as: :pagedown, label: false, placeholder: "Enter your answer...", input_html: { preview: true, rows: 10 }
  %span.help-block.has-error.errors
  = f.button :submit, 'Post Answer'