=form_for resources, builder: Mybuilder do |f|
  .error
    =render 'partials/errors', resource: @answer
  .form-group
    =f.pagedown_editor :body, class: "form-control", placeholder: "Enter your answer..."
  =f.submit 'Post Answer', class: 'btn btn-primary'