.question-show
  .question{id: "Question#{@question.id}"}
    =render 'questions/question_card'

  .frow
    .profile-pic.medium.standalone.new
      =image_tag("avatar-50.png", alt: "profile pic", class: "img-circle")
    .new-answer
      = simple_form_for @answer do |f|
        = f.input :body, as: :pagedown, label: false, placeholder: "Enter your answer...", input_html: { preview: true, rows: 10 }
        %span.help-block.has-error.errors
        = f.button :submit, 'Post Answer'