@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

.signin {
  max-width: 400px;
}

#nav-icon {
  padding-top: 6px;
}
.question-form {
  max-width: 600px;
}
.btn-info {
  border-radius: 10px;
}
body {
  background-color: #e9f0f5;
}

.one_question {
  border-color: transparent;
  border-right-color: white;	
  width:100%;
  height:auto;
  border-radius: 4px;
  margin-top: 10px;
  font-size: 16px;
  color: #7f8c97;
  background: white;
  box-shadow: 0 3px 0 #d7e4ed;
  padding: 10px;
}