/* colours */
$light-grey: #fafafa;

/* BOOTSTRAP */
/* general */
$body-bg: #f2f2f2;
$brand-primary: #4285f4;
/* font */
$font-family-sans-serif: 'Roboto', sans-serif;
$headings-font-weight: 300;
/* grid */
$grid-float-breakpoint: 450px;
/* borders */
$border-radius-base: 0px;
$border-radius-large: 0px;
/* links */
$link-color: #07c;
$link-hover-color: #30a7fc;
$link-hover-decoration: none;
/* navigation */
$navbar-default-bg: $light-grey;
$navbar-default-border: $navbar-default-bg;
$navbar-default-link-active-bg: transparent;
$nav-pills-active-link-hover-bg: #536dfe;
/* dropdowns */
$dropdown-link-hover-color: white;
$dropdown-link-hover-bg: $brand-primary;
/* buttons */
$btn-info-bg: #BBDEFB;
$btn-info-border: #BBDEFB;
$btn-info-color: #01579B;
$btn-success-bg: #B2EBF2;
$btn-success-border: #B2EBF2;
$btn-success-color: #004D40;

@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap-datetimepicker';
@import "font-awesome";
@import "jquery.Jcrop";
@import "jquery.fileupload";
@import "pagedown_bootstrap";
@import "highlight.scss";

@import "global";
@import "menus/*";
@import "users/*";
@import "groups";

/* typeahead */
.twitter-typeahead {
  display: block !important;
}
.tt-query {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.tt-hint {
  color: #999;
}
.tt-menu {
  width: 300px;
  margin-top: 4px;
  padding: 4px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
}
.tt-suggestion {
  padding: 3px 20px;
  line-height: 24px;
}
.tt-suggestion:hover {
  cursor: pointer;
  color: #fff;
  background-color: $brand-primary;
}
.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: $brand-primary;
}
.tt-suggestion p {
  margin: 0;
}

.fcol {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
}
.frow {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
}
.markdown-output, #wmd-preview-body {
  img {
    max-width: 100%;
    height: auto;
    display: block;
  }
}
.markdown-output {
  white-space: normal;
  overflow: visible;
}
.wmd-preview {
  background-color: $light-grey;
}
.grey {
    color: #999;
}
.help-block.has-error {
  color: #a94442;
}

/*cards/flexboxes*/
.card {
  background: white;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.12);
  padding: 15px;

  > div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .profile-pic {
    margin-right: 15px;
  }
  .title {
    margin: 0;
  }
}

/*question#new*/

/*question#index+show */
.link, .question-show {
  .profile-pic, .votes, .tags, .time {
    flex-shrink: 0;
  }
  .title, .tags, .likeable-owner, .body, .comment-text, .answer, .new-answer {
    flex-grow: 1;
  }
  .title, .tags, .likeable-owner {
    margin-right: 10px;
  }
}
/*question#index*/
.link {
  .card {
    margin: 10px 0;
  }
  .bottom-space {
    margin-bottom: 5px;
  }
  .title, .time{
    line-height: 30px;
  }
  .time {
    font-size: 12px;
  }
}

/*question#show*/
.question-show {
  .question {
    margin: 10px 0;
  }
  .answer, .new-answer {
    position: relative;
    margin: 10px 0;
  }
  .header, .comment {
    padding: 10px 15px;
  }
  .bottom-space {
    margin-bottom: 10px;
  }
  .title, .question .time {
    line-height: 40px;
  }
  .comment-text {
    margin-top: 5px;
  }
  .question .body {
    margin-top: 10px;
  }
  // pre {
  //   overflow: auto;
  // }
  // pre code{
  //   word-wrap: normal;
  //   white-space: pre;
  // }
  .comment-body {
    white-space: normal;
  }
  .new-comment{
    background-color: $light-grey;
  }
  .left-space {
    margin-left: 5px;
  }
  .fcol.standalone {
    width: auto;
    align-items: center;
  }
  .profile-pic.standalone {
    background-color: $body-bg;
    width: 50px;
    height: 50px;
    padding: 5px;
    margin: 10px 10px 0px 10px;
  }
  .answer-time, .comment-time, .edit-post {
    font-size: 12px;
  }

  .answer-time {
    background-color: $body-bg;
    padding-bottom: 2px;
  }
  .profile-pic.standalone.new {
    margin-top: 35px;
  }
  .line {
    position: absolute;
    left: -36px;
    top: 50px;
    width: 2px;
    height: 100%;
    background-color: #D5D5D5;
    z-index: -1;
  }
  .login-to-answer {
    margin: 25px 0;
  }
}

/*question and group form*/
.question-form, .group-form {
  h4 {
    margin-bottom: 20px;
  }
}

.fa-trophy {
  color: #FFA319;
}

/*user#index*/
.user-index {
  .users {
    flex-wrap: wrap;
  }
  .card {
    flex-shrink: 0;
    width: 250px;
    margin: 0 30px 30px 0;
  }
  .user {
    line-height: 30px;
  }
  .fa-trophy {
    margin-left: 5px;
  }
}

/*notifications dropdown*/

.notification-title {
  color: #18529A
}

.notifier-type {
  color: #848d95;
  font-size: 12px
}

.notifier-body{
  font-size: 13px
}

.dropdown-menu.notifications{
  width: 375px;
  height: 300px;
  overflow: auto;

  .see-all {
    text-align: center;
  }
}

.notifications-header {
  text-align: center;
  height: 30px;
  border-bottom: 1px solid #e5e5e5 ;
  color: rgba(128,128,128,0.7);
  padding-top: 4px;
  padding-bottom: 4px
}

.notifications-item {
  border-bottom: 1px solid #eff0f1;
}

.unread{
  background-color: #eff0f1
}

@import "global";
@import "menus/*";
@import "users/*";
