@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

.signin {
  max-width: 400px;
}

#nav-icon {
  padding-top: 6px;
}
.question-form {
  max-width: 600px;
}
.btn-info {
  border-radius: 10px;
}
